<form class="new_user" method="POST" action="" id="create_user">
    <div>
        <div class="form-group">
            <label for="name" class="text-light">1. Tên giảng viên:</label> <br>
            <input type="text" name="teacher" value="Pham Nguyen Hoang Nam">
        </div>
        <div class="form-group">
            <label for="khoa" class="text-light">2. Khoa/Viện:</label> <br>
            <input type="text" name="faculty" value="CS">
        </div>
        <div class="form-group">
            <label for="monhoc" class="text-light">3. Môn học/Học phần:</label> <br>
            <input type="text" name="subject" value="Thesis">
        </div>
        <div class="form-group">
            <label for="hocphan" class="text-light">4. Lớp học phần:</label>
            <input class="tab-subject" type="text" name="classroom_section" value="STT">

            <label for="hocky" class="text-light">Học kỳ:</label>
            <input class="tab-subject" type="text" name="semester" value="2">
            <label for="namhoc" class="text-light">Năm học:</label>
            <input type="text" name="school_year" value="2022">
        </div>
        <div class="form-group inline">
            <input type = "submit" value="Submit">
        </div>
    </div>
</form>