<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Measurement Information</title>
    <link rel="stylesheet" href="/css/dataCollectStyle.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div>
            <h3>
                Part 3: Measurement information
            </h3>
            <form method="post">
                <div class="form-row col-md-12">1.Travel time from home to school</div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <input class="form-check-input" type="radio" name="checkTravel" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">Less than 15m</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input class="form-check-input" type="radio" name="checkTravel" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">15m to 30m</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input class="form-check-input" type="radio" name="checkTravel" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">30m to 1h</label>
                    </div>
                    <div class="form-group col-md-6">
                        <input class="form-check-input" type="radio" name="checkTravel" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">More than 1h</label>
                    </div>
                </div>

                <div class="form-row col-md-12">2.Weekly study time</div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <input class="form-check-input" type="radio" name="checkStudy" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">Less than 2h</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input class="form-check-input" type="radio" name="checkStudy" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">2h to 5h</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input class="form-check-input" type="radio" name="checkStudy" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">5h to 10h</label>
                    </div>
                    <div class="form-group col-md-6">
                        <input class="form-check-input" type="radio" name="checkStudy" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">More than 10h</label>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputFailures">3.Number of past class failures</label>
                        <input type="number" id="inputFailures">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAbsences">4.Number of school absences</label>
                        <input type="number" id="inputAbsences">
                    </div>
                </div>

                <div class="form-row col-md-12">5.Extra educational support</div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <input class="form-check-input" type="radio" name="checkSchoolSup" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input class="form-check-input" type="radio" name="checkSchoolSup" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label"  for="inlineRadio2">No</label>
                    </div>
                </div>

                <div class="form-row col-md-12">6.Family educational support</div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <input class="form-check-input" type="radio" name="checkFamSup" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input class="form-check-input" type="radio" name="checkFamSup" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label"  for="inlineRadio2">No</label>
                    </div>
                </div>

                <div class="form-row col-md-12">7.Extra-curricular activities</div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <input class="form-check-input" type="radio" name="checkActivities" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input class="form-check-input" type="radio" name="checkActivities" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label"  for="inlineRadio2">No</label>
                    </div>
                </div>

                <div class="form-row col-md-12">8.Wants to take higher education</div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <input class="form-check-input" type="radio" name="checkHigher" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input class="form-check-input" type="radio" name="checkHigher" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label"  for="inlineRadio2">No</label>
                    </div>
                </div>

                <div class="form-row col-md-12">9.Internet access at home</div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <input class="form-check-input" type="radio" name="checkInternet" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input class="form-check-input" type="radio" name="checkInternet" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label"  for="inlineRadio2">No</label>
                    </div>
                </div>

                <div class="form-row col-md-12">10.With a romantic relationship</div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <input class="form-check-input" type="radio" name="checkRomantic" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input class="form-check-input" type="radio" name="checkRomantic" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label"  for="inlineRadio2">No</label>
                    </div>
                </div>

                <div class="form-group row col-md-12">
                    <label for="inputState" class="col-md-3">11.Quality of family relationships</label>
                    <select id="inputState" class="col-md-2">
                        <option>Very high</option>
                        <option>High</option>
                        <option selected>Medium</option>
                        <option>Low</option>
                        <option>Very low</option>
                    </select>
                </div>

                <div class="form-group row col-md-12">
                    <label for="inputState" class="col-md-3">12.Free time after school</label>
                    <select id="inputState" class="col-md-2">
                        <option>Very high</option>
                        <option>High</option>
                        <option selected>Medium</option>
                        <option>Low</option>
                        <option>Very low</option>
                    </select>
                </div>

                <div class="form-group row col-md-12">
                    <label for="inputState" class="col-md-3">13.Going out with friends</label>
                    <select id="inputState" class="col-md-2">
                        <option>Very high</option>
                        <option>High</option>
                        <option selected>Medium</option>
                        <option>Low</option>
                        <option>Very low</option>
                    </select>
                </div>

                <div class="form-group row col-md-12">
                    <label for="inputState" class="col-md-3">14.Workday alcohol consumption</label>
                    <select id="inputState" class="col-md-2">
                        <option>Very high</option>
                        <option>High</option>
                        <option selected>Medium</option>
                        <option>Low</option>
                        <option>Very low</option>
                    </select>
                </div>

                <div class="form-group row col-md-12">
                    <label for="inputState" class="col-md-3">15.Weekend alcohol consumption</label>
                    <select id="inputState" class="col-md-2">
                        <option>Very high</option>
                        <option>High</option>
                        <option selected>Medium</option>
                        <option>Low</option>
                        <option>Very low</option>
                    </select>
                </div>

                <div class="form-group row col-md-12">
                    <label for="inputState" class="col-md-3">16.Current health status</label>
                    <select id="inputState" class="col-md-2">
                        <option>Very high</option>
                        <option>High</option>
                        <option selected>Medium</option>
                        <option>Low</option>
                        <option>Very low</option>
                    </select>
                </div>

                <div class="form-row col-md-12">
                    <button type="submit" class="btn my-btn" id="btn-next-grade">Next</button>
                </div>
            </form>
        </div>
    </div>
</body>